[submodule "Sprout/vendor/external/crosswindow"]
	path = Sprout/vendor/external/crosswindow
	url = https://github.com/alaingalvan/crosswindow.git
[submodule "Sprout/vendor/crosswindow"]
	path = Sprout/vendor/crosswindow
	url = https://github.com/ardaurum/crosswindow.git
[submodule "Sprout/vendor/glfw"]
	path = Sprout/vendor/glfw
	url = https://github.com/Ardaurum/glfw.git
[submodule "Sprout/vendor/imgui"]
	path = Sprout/vendor/imgui
	url = https://github.com/TheCherno/imgui.git
[submodule "Sprout/vendor/glm"]
	path = Sprout/vendor/glm
	url = https://github.com/g-truc/glm.git
