[submodule "Sprout/vendor/glfw"]
	path = Sprout/vendor/glfw
	url = https://github.com/Ardaurum/glfw.git
[submodule "Sprout/vendor/imgui"]
	path = Sprout/vendor/imgui
	url = https://github.com/TheCherno/imgui.git
[submodule "Sprout/vendor/glm"]
	path = Sprout/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Sprout/vendor/spdlog"]
	path = Sprout/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
